// Hero Home

@use "/assets/scss/variable/variable" as v;

.hero-home {
  width: 100%;
  height: 100%;
  
  .hero-wrap {
    width: 100vw;
    height: 100vh;

    .repeater-hero {
      width: 100%;
      height: 100%;

      .repeater-item {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        img {
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          filter: brightness(0.5);
        }
        .titoletto {
          color: v.$white;
          padding: 0 20px;
          text-align: center;
        }
        .titolo {
          padding: 0 20px;
          color: v.$white;
          font-family: v.$title-font;
          font-size: clamp(96px, 3vw, 128px);
          letter-spacing: -1.5px;
          line-height: 1;
          text-align: center;
        }
        .desc {
          padding: 0 20px;
          color: v.$white;
          text-align: center;
        }
        .cta{
          margin-top: 10px;
          margin-bottom: 40px;
        }
      }
    }
  }
  .hero-info{
    position: relative;
    z-index: 1;
    margin-top: -100px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include v.respond-to(lg){
      margin-top: -150px;
      padding: 0;
    }
    
    .titolo-info{
      position: relative;
      z-index: 1;
      padding: 24px 48px 16px 48px;
      border-radius: 10px 10px 0 0;
      background-color: v.$white;
      color: v.$blue-100;
      text-align: center;
    }
    .repeater-info{
      display: grid;
      grid-template-columns: 1fr;
      gap: 24px;
      background-color: v.$white;
      border-radius: 10px;
      padding: 24px 48px 48px 48px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

      @include v.respond-to(md){
        grid-template-columns: repeat(2, 1fr);
      }
      @include v.respond-to(lg){
        grid-template-columns: repeat(3, 1fr);
      }
      .info-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .titolo{
          text-align: center;
          color: v.$blue-100;
        }
        .desc{
          text-align: center;
          max-width: 80%;
        }
      }
    }
  }
}
