// Account Page

@use "/assets/scss/variable/variable" as v;

.account-page {
  .account-content {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px;

    @include v.respond-to(lg) {
      margin-top: 100px;
      margin-bottom: 100px;
      padding: 0;
    }
    @include v.respond-to(xl) {
      margin-top: 120px;
      margin-bottom: 120px;
    }

    .woocommerce {
      #customer_login {
        .woocommerce-form {
          display: flex;
          flex-direction: column;
          gap: 20px;
          border-radius: 0;
          border: 1px solid v.$blue-75;

          .woocommerce-form__label-for-checkbox {
            margin-top: 5px;
          }

          input[type="text"],
          input[type="password"],
          input[type="email"] {
            font-weight: 400;
            font-size: clamp(15px, 1vw, 17px);
            letter-spacing: 0.5px;
            padding: 10px;
            border-radius: 0;
            border: 1px solid v.$blue-75;
          }
          button[type="submit"] {
            padding: 10px 20px;
            font-weight: 400;
            border-radius: 0;
            border: 1px solid v.$blue-75;
            background-color: v.$blue-75;
            color: white;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
              background-color: v.$blue-50;
            }
          }
        }
      }
      .woocommerce-ResetPassword {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input[type="text"] {
          font-weight: 400;
          font-size: clamp(15px, 1vw, 17px);
          letter-spacing: 0.5px;
          padding: 10px;
          border-radius: 0;
          border: 1px solid v.$blue-75;
        }
        button[type="submit"] {
          padding: 10px 20px;
          font-weight: 400;
          border-radius: 0;
          border: 1px solid v.$blue-75;
          background-color: v.$blue-75;
          color: white;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background-color: v.$blue-50;
          }
        }
      }
      .woocommerce-MyAccount-navigation {
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            a {
              display: block;
              width: 100%;
              padding: 10px;
              background-color: v.$gray-50;
              color: white;
              transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

              @include v.respond-to(lg) {
                &:hover {
                  background-color: v.$gray-25;
                }
              }
            }
          }
        }
      }
      .woocommerce-MyAccount-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        border: 1px solid v.$blue-75;
        padding: 20px;
        height: 100%;

        .woocommerce-info {
          background-color: transparent;

          .woocommerce-Button,
          .button {
            padding: 10px 20px;
            font-weight: 400;
            border-radius: 0;
            border: 1px solid v.$blue-75;
            background-color: v.$blue-75;
            color: white;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
              background-color: v.$blue-50;
            }
          }
        }
        .woocommerce-Addresses {
          display: flex;
          flex-direction: column;

          .col-1,
          .col-2 {
            width: 100%;

            .woocommerce-Address-title {
              padding: 10px;
              border: 1px solid v.$blue-75;
              box-shadow: none;
              h2 {
                font-weight: 400;
                font-size: clamp(18px, 1.2vw, 20px);
                letter-spacing: 0.15px;
                line-height: 1.5;
              }
              a {
                color: v.$blue-75;
                opacity: 1;
                transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

                @include v.respond-to(lg) {
                  &:hover {
                    opacity: 0.6;
                  }
                }
              }
            }
            address {
              padding: 20px 0;
              font-weight: 400;
              font-size: clamp(15px, 1vw, 17px);
              letter-spacing: 0.5px;
            }
          }
        }
        .woocommerce-address-fields,
        .woocommerce-EditAccountForm {
          input[type="text"],
          input[type="tel"],
          input[type="email"],
          input[type="password"] {
            font-weight: 400;
            font-size: clamp(15px, 1vw, 17px);
            letter-spacing: 0.5px;
            padding: 10px;
            border-radius: 0;
            border: 1px solid v.$blue-75;
          }
          button {
            margin-top: 20px;
            padding: 10px 20px;
            font-weight: 400;
            border-radius: 0;
            border: 1px solid v.$blue-75;
            background-color: v.$blue-75;
            color: white;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
              background-color: v.$blue-50;
            }
          }
        }
      }
    }
  }
}
