// Blog

@use "/assets/scss/variable/variable" as v;

.blog {
  .blog-content {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px;
    @include v.respond-to(lg) {
      margin-top: 100px;
      margin-bottom: 100px;
      padding: 0;
    }
    @include v.respond-to(xl) {
      margin-top: 120px;
      margin-bottom: 120px;
    }
    .blog-wrap {
      display: flex;
      flex-direction: column;
      gap: 80px;

      @include v.respond-to(lg) {
        flex-direction: row;
        gap: 40px;
      }
      .post-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include v.respond-to(lg) {
          gap: 30px;
          width: calc(75% - 40px);
        }
        @include v.respond-to(xl) {
          width: calc(70% - 40px);
        }
        .post-item {
          padding: 20px;
          border: 1px solid v.$blue-75;
          display: flex;
          flex-direction: column;
          gap: 20px;

          @include v.respond-to(lg) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px;
          }
          .image{
            position: relative;
            aspect-ratio: 1;
            overflow: hidden;
            width: 100%;

            @include v.respond-to(lg) {
              width: 40%;
            }

            .date{
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 20px;
                background-color: v.$blue-75;
                color: v.$white;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
          }
          .post-info{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            @include v.respond-to(lg) {
              width: calc(60% - 40px);
            }

            .post-title{
                color: v.$blue-75;
            }
          }
        }
      }
      .category {
        width: 100%;

        @include v.respond-to(lg) {
          width: 25%;
          height: fit-content;
          position: sticky;
          top: 200px;
        }
        @include v.respond-to(xl) {
          width: 30%;
        }
        .cat-title {
          color: v.$blue-75;
        }
        .cat-list {
          list-style: none;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            a {
              display: block;
              text-transform: uppercase;
              width: 100%;
              padding: 10px;
              background-color: v.$gray-0;
              opacity: 1;
              transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            @include v.respond-to(lg) {
              &:hover {
                a {
                  opacity: 0.6;
                }
              }
            }
          }
        }
      }
    }
  }
}
