// Carrello

@use "/assets/scss/variable/variable" as v;

.carrello {
  .cart-content {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px;

    @include v.respond-to(lg) {
      margin-top: 80px;
      margin-bottom: 100px;
      padding: 0;
    }
    @include v.respond-to(xl) {
      margin-top: 100px;
      margin-bottom: 120px;
    }
    .woocommerce-cart-form {
      .actions {
        .coupon {
          display: flex;
          flex-direction: column;
          gap: 20px;
          @include v.respond-to(lg) {
            flex-direction: row;
          }
          #coupon_code {
            width: 100%;
            @include v.respond-to(lg) {
              width: max-content;
            }
          }
          .button {
            width: 100%;
          }
        }
        button.button {
          width: auto;
        }
      }
    }
    .cart-collaterals {
      margin-top: 40px;

      @include v.respond-to(lg) {
        margin-top: 80px;
      }
      @include v.respond-to(xl) {
        margin-top: 100px;
      }
      .cross-sells {
        h2 {
          color: v.$blue-100;
          font-weight: 400;
          font-size: clamp(24px, 1.4vw, 38px);
          letter-spacing: 0.25px;
          line-height: 1.3;
        }
        ul.products {
          margin-top: 30px;
          display: grid;
          grid-template-columns: 1fr;
          gap: 20px;

          &::before,&::after {
            display: none;
          }
          @include v.respond-to(md) {
            margin-top: 60px;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px 30px;
          }
          @include v.respond-to(xl) {
            margin-top: 80px;
          }

          li.product {
            margin: 0;
            width: 100% !important;
            float: none;
            clear: none;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border: 1px solid v.$gray-100;

            &:last-child {
              display: none;
            }

            .woocommerce-LoopProduct-link {
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 20px;
              transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

              .onsale {
                width: fit-content;
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;
                border-radius: 0;
                z-index: 1;
                padding: 10px 20px;
                background-color: v.$blue-50;
                color: v.$white;
              }
              img {
                width: 100%;
                height: auto;
                aspect-ratio: 16/9;
                object-fit: cover;
                transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
              }
              .woocommerce-loop-product__title {
                color: v.$blue-100;
                font-weight: 400;
                font-size: clamp(22px, 1.4vw, 24px);
                letter-spacing: 0.25px;
                line-height: 1.3;
                transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
              }

              @include v.respond-to(lg) {
                &:hover {
                  img {
                    filter: brightness(120%);
                  }
                  .woocommerce-loop-product__title {
                    color: v.$blue-50;
                  }
                }
              }
            }
            .button {
              padding: 10px 20px;
              background-color: v.$blue-75;
              color: v.$white;
              border: 1px solid v.$blue-75;
              text-align: center;
              transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

              @include v.respond-to(lg) {
                padding: 15px 30px;
                &:hover {
                  background-color: v.$white;
                  color: v.$blue-75;
                }
              }
            }
          }
        }
      }
      .cart_totals {
        margin-top: 40px;

        @include v.respond-to(md) {
          margin-top: 60px;
        }
        @include v.respond-to(lg) {
          margin-top: 0px;
        }
        h2 {
          color: v.$blue-100;
          font-weight: 400;
          font-size: clamp(40px, 1.8vw, 48px);
          line-height: 1.2;
        }
        .shop_table{
          margin-top: 30px;
          @include v.respond-to(lg) {
            margin-top: 60px;
          }
        }
        .wc-proceed-to-checkout{
          a.checkout-button{
            background-color: v.$blue-50;
            color: v.$white;
            border: 1px solid v.$blue-50;
            transition: all .6s cubic-bezier(.215, .61, .355, 1);

            @include v.respond-to(lg) {
              &:hover {
                background-color: v.$white;
                color: v.$blue-50;
              }
            }
          }
        }
      }
    }
    button.button {
      padding: 10px 20px;
      font-weight: 400;
      font-size: clamp(15px, 1vw, 17px);
      letter-spacing: 0.5px;
      background-color: v.$blue-50;
      border: 1px solid v.$blue-50;
      color: v.$white;
      line-height: 1;
      text-transform: uppercase;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

      @include v.respond-to(lg) {
        &:hover {
          border: 1px solid v.$blue-50;
          background-color: v.$white;
          color: v.$blue-100;
        }
      }
    }
  }
}
