// Gallery

@use "/assets/scss/variable/variable" as v;

.gallery {
    .gallery-block {
      margin-bottom: 50px;
      padding: 0 20px;
      @include v.respond-to(lg) {
        margin-bottom: 100px;
        padding: 0;
      }
      @include v.respond-to(xl) {
        margin-bottom: 120px;
      }
    .gallery-group{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        @include v.respond-to(lg) {
          margin-top: 100px;
        }
        @include v.respond-to(xl) {
          margin-top: 120px;
        }
        .title-gallery{
            color: v.$blue-75;
            text-align: center;
        }
        .text-gallery{
            text-align: center;
        }
        .gallery-list{
            list-style: none;
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            @include v.respond-to(md) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include v.respond-to(lg) {
                grid-template-columns: repeat(3, 1fr);
            }
            .gallery-item{
                aspect-ratio: 1/1;
                overflow: hidden;

                @include v.respond-to(lg) {
                    &:hover{
                        img{
                            transform: scale(1.1);
                        }
                    }
                }
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .6s cubic-bezier(.215, .61, .355, 1);
                }
            }
        }
    }
  }
}
