// Color

$blue-100: #012f6a;
$blue-75: #003781;
$blue-50: #024cae;
$blue-25: #025fd9;

$black: #03002e;

$gray-100: #343d46;
$gray-50: #65737e;
$gray-25: #8a9aa7;
$gray-0: #b8c2cc;

$white: #ffffff;
